@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(../img/titleScreenTest.png) no-repeat center center fixed;
  background-color: gray;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

header {
  vertical-align: middle;
  text-align: center;
  padding: 10px;

}

main {
  padding-top: 11%;
  text-align: center;
  vertical-align: middle;
}

.play {
  width: 10vw;
  height: 10vh;
}

.title {
  top: 0;
  vertical-align: text-top;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  width: 70vw;
  height: 30vh;

}

.headertitle {
  vertical-align: middle;
  text-align: center;
}

.settings {
  margin-top: 1px;
  margin-right: 2px;
  position: absolute;
  top: 0;
  right: 0;
  width: 10vw;
  height: 10vh;
  filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(1);
}

#copyright {
  font-size: 200%;
  font-weight: bolder;
  color: #fff;

}

@media only screen and (max-width: 600px) {
  #copyright {
    font-size: 300%;
  }

  footer {
    height: 2vh;
  }
}

.zoom {
  padding: 0;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-image: url("../img/play.png");
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
  transition: transform .2s;
  /* Animation */
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.67);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7vh;
  /* Height of the footer */
  text-align: center;
}